<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game info</title>
  <link rel="stylesheet" href="/dist/css/main.css">
</head>
<body>
  <main>
    <h1>Game info: </h1>
    <% if(data.message) {%>
      <p class="<%= data.type %>"><%= data.message %></p>
    <% } else { %>
    <p>Number: <%= data.number %> </p>
    <p>Name: <%= data.name %> </p>
    <p>Quantity in stock: <%= data.quantity%> </p>
    <p>Genre: <%= data.genre %> </p>
    <p>Rating: <%= data.rating %> </p>
    <% } %>
    <a href="/"><button>Back to homepage</button></a>
  </main>  
</body>
</html>